<nav>
    <ul>
        <li>
            <img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy">
        </li>

        <li>
            <a href="/bucketlistOverview">Information</a>
        </li>

        <li>
            <a href="/bucketlist">Add bucketlist</a>
        </li>

    </ul>
</nav>