<nav>
    <ul>
        <li>
            <img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy">
        </li>

        <li>
            <a href="/bucketlistOverview">My locations</a>
        </li>

        <li>
            <a href="/bucketlist">New location</a>
        </li>

        <li>
            <a href="/preferences">My preferences</a>
        </li>

    </ul>
</nav>