<header class="headerNav">
    <nav>
        <ul>
            <li>
                <a href="/welcome"><img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy"></a>
            </li>

            <li>
                <a href="/imagesGrid">Inspiration</a>
            </li>

            <li>
                <a href="/preferences">Preferences</a>
            </li>

            <li>
                <a href="/profile">Profile</a>
            </li>

            <li>
                <button><a href="/logout">Log out</a></button>
            </li>
         </ul>
    </nav>
</header>