<header class="headerNav">
    <nav>
        <ul>
            <li>
                <img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy">
            </li>

            <li>
                <a href="/imagesGrid">Inspiration</a>
            </li>

            <li>
                <a href="/preferences">Preferences</a>
            </li>

            <li>
                <a href="/profile">Profile</a>
            </li>
         </ul>
    </nav>
</header>