<%- include('../../partials/head'); %>
<%- include('../../partials/header-nav'); %>

<main>

    <body class="onboardingBody">
        <div class="onboardingInfo">
            <img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy">
            <h1> Share your bucketlistlocations</h1>
            <p> To make your profile more personal you can add some bucketlist locations that you still want to visit.
            </p>
            
            <button><a href="/onboardingPageThree">Next page</a></button>
        </div>



    </body>
</main>