<%- include('../../partials/head'); %>

<main>

    <body class="onboardingBody">
        <div class="onboardingInfo">
            <img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy">
            <h1> Welcome to Travelbuddy</h1>
            <p> Travelbuddy is an dating app where you can find your next travelbuddy.
                It is way more fun to share an amazing adventure together.
            </p>
            <button><a href="/onboardingPageTwo">Next page</a></button>
        </div>



    </body>
</main>