<%- include('../../partials/head'); %>
<%- include('../../partials/header-nav'); %>

<main>

    <body class="onboardingBody">
        <div class="onboardingInfo">
            <img src="/img/logo.png" class="logo" alt="Logo-Travelbuddy">
            <h1> Get inspired</h1>
            <p> You can also do some new inspiration for you next vacation. Maybe you find a cool new locations to visit.
            </p>
            <button><a href="/welcome">Let's start</a></button>
        </div>



    </body>
</main>