<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>

<title>Inloggen</title>
<h1>Inloggen</h1>
<p>Mislukt, probeer opnieuw!</p>
<a href="/login">Log in</a>

<%- include('../../partials/footer'); %>