<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<html class="home-bg"></html>

<title>Log in failed</title>
<p>The login failed, try again!</p>
<button type="submit" class="buttonLogin1"><a href="/login">Go back to login!</a></button>

<%- include('../../partials/footer'); %>