<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>

<title>Log in</title>
<h1>Log in</h1>
 
<form action=/login method=post>
 <label>Name <input name=name></label>
 <label>Password <input name=password type=password></label>
 <button>Log in</button>
</form>
 
<button type="submit" class="buttonLogin1"><a href="/register">Don't have an account? Register!</a></button>

<%- include('../../partials/footer'); %>