<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>

<html class="home-bg"></html>

<title>Log in</title>
<h1>Log in</h1>
 
<form action=/login method=post>
 <label>E-mail <input type="email" id="email" name="email" placeholder="Jane@doe.com"></label>
 <label>Password <input name=password type=password min=1 placeholder="Your secret password"></label>
 <button>Log in</button>
</form>
 
<button type="submit" class="buttonLogin1"><a href="/register">Don't have an account? Register!</a></button>

<%- include('../../partials/footer'); %>