html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
}

#keuzes-form {
  height: 200px;
  border: 0;
  text-align: center;
}

#keuzes-form label {
  color: black;
}

#keuzes-form input {
  display: inline-flex;
}

#keuzes-form [type="checkbox"] {
  margin-right: 1.5em;
}

#keuzes-form [type="submit"] {
  padding: 1em;
}