.imagesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
  }
  
  .imagesGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imagesGrid p {
    // position: absolute;
    font-size: 1.5em;
    color: black;
    text-align: left;
    padding: 1em;
    background-color: white;
  
  }