.profileButtonDiv{

    text-align: center;

.profileButton {
    margin-left: 2em;
    margin-bottom: 2em;

    display: inline-block;
    text-align: center;
    
    width: 200px;
}

}

.profileCountries, .profilePreferences, .basicProfileInfo {
    font-size: 0.8em;

    padding: 1em;
    margin: auto;
    margin-bottom: 3em;;

    border-width: 20px;
    width: 400px;
    
    h1 {
        font-size: 3em;
        text-align: left;
    }

    img {
        padding-bottom: 1em;
    }

    h2 {
        font-size: 2.5em;
        padding-bottom: 1em;
        text-align: left;
    }

    p {
        text-align: left;
    }
}