<%- include('../../partials/head-rate-limit'); %>
<%- include('../../partials/header'); %>

<main>
    <h1>Too many requests</h1>
    <p>Wait <span id="countdown">300</span> seconds to try again</p>

</main>


<%- include('../../partials/footer'); %>