<%- include('../partials/head'); %>
<%- include('../partials/header-nav'); %>
<h1>Add your profile</h1>
<form id="profileForm" method="POST" action="/add" enctype=multipart/form-data> 
  <label>Photo
  <input type="file" name="photo" accept=image/* required> </label> <label>Name<input type="text" name="name" placeholder="Jane Doe"required>
  </label>

  <label>Age<input type="number" name=age placeholder="Your age"required>
  </label>

  <label>Bio
    <textarea type="text" name=bio rows=5 placeholder="Fill in your amazing and creative bio about you"required></textarea>
  </label>

 <button type="submit" class="buttonLogin2">Submit</a></button>
</form>
<%- include('../partials/footer'); %>
