<%- include('../partials/head'); %>
<%- include('../partials/header-login'); %>

<html class="home-bg"></html>

<main>

  <title>Travelbuddy</title>

  
  
  <section>
    <article class="overlap">
  <h1>Start Traveling</h1>
  <a href="/register"><button type="button" class="buttonSignup">Sign up</button></a> 
    </article>
</section>

</main>

<%- include('../partials/footer'); %>