<%- include('../partials/head'); %>
<%- include('../partials/header'); %>

<main>

  <title>Travelbuddy</title>

  <li>
      <button class='buttonLogin2'><a href="/login">Log in</a></button>
  </li>
  
  <section>
    <article class="overlap">
  <h1>Start Traveling</h1>
  <a href="/register"><button type="button" class="buttonSignup">Sign up</button></a> 
    </article>
</section>

</main>

<%- include('../partials/footer'); %>