<%- include('../partials/head'); %>
<%- include('../partials/header-nav'); %>

<body id="bodyWelcome">

    <main>
        <h1 class="welcomeHeader">Hey [name],<br> Welcome to travelbuddy</h1>
        <div class="welcomeLinks">
            <a href="/add">Add your profile information</a>
            <a href="/preferences">What are your preferences</a>
            <a href="/bucketlistOverview">Add bucketlist locations</a>
        </div>

    </main>

    <%- include('../partials/footer'); %>
</body>