<%- include('../partials/head'); %>
<%- include('../partials/header-nav'); %>

<body id="bodyWelcome">

    <main>
        <h1 class="welcomeHeader">Hey <%= profileData.firstName %>,<br> Welcome to travelbuddy</h1>
        <div class="welcomeLinks">
            <a href="/profile">Let's add some information to your profile</a>
        </div>

    </main>

    <%- include('../partials/footer'); %>
</body>