<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>

<main>
    <h1>BUCKETLIST OVERZICHT</h1>
    <p>Choose your bucketlist locations</p>

    <!-- Form with post method including 3 questions -->
    <form id="keuzes-form" method="POST" action="/">
        <label for="interesse">Japan</label>
        <input type="checkbox" id="countryOne" name="countryOne">

        <label for="waarom">Russia</label>
        <input type="checkbox" id="countryTwo" name="countryTwo">

        <label for="vermaken">Canada</label>
        <input type="checkbox" id="countryThree" name="CountryThree">

        <label for="vermaken">Australia</label>
        <input type="checkbox" id="countryFour" name="countryFour">

        <label for="vermaken">China</label>
        <input type="checkbox" id="countryFive" name="countryFive">

        <label for="vermaken">Brazil</label>
        <input type="checkbox" id="countrySix" name="countrySix">

        <label for="vermaken">Italy</label>
        <input type="checkbox" id="countrySeven" name="countrySeven">

        <label for="vermaken">Spain</label>
        <input type="checkbox" id="countryEight" name="countryEight">

        <label for="vermaken">Thailand</label>
        <input type="checkbox" id="countryNine" name="countryNine">

        <label for="vermaken">Qatar</label>
        <input type="checkbox" id="countryTen" name="countryTen">

        <input type="submit" value="submit"/>
    </form>

</main>

<%- include('../../partials/footer'); %>