<%- include('../partials/head'); %>
<%- include('../partials/header'); %>

<main>
  <h1>RESULTATEN BUCKETLIST</h1>
  <p>Welcome to Backend A2 Assignment</p>
</main>

<%- include('../partials/footer'); %>