<%- include('../../partials/head'); %>
<%- include('../../partials/header-nav'); %>

<body id="bodyWelcome">
    <main>
        <div class="welcomeLinks">
            <a href="/bucketlistOverview">Go back</a>
        </div>
        <h1>Bucketlist Locations</h1>
        <p>What are your bucketlist locations and why</p>

        <!-- Form with post method including 10 locations -->
        <form id="location-form" method="POST" action="/bucketlistOverview">
            <label for="countryChoice">What Country?</label>
            <input type="text" id="countryQuestionOne" placeholder="Thailand" name="countryQuestionOne" required>

            <label for="countryReason">Why this Country?</label>
            <input type="text" id="countryQuestionTwo" placeholder="I like the vibe" name="countryQuestionTwo" required>

            <label for="vermaken">With who would you like to go there?</label>
            <input type="text" id="countryQuestionThree" placeholder="With my bestfriends" name="countryQuestionThree" required>

            <button input type="submit" value="submit">Submit</button>
        </form>

    </main>
</body>
<%- include('../../partials/footer'); %>