<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <h1>Inspiration for your next trip </h1>
    <div class="imagesGrid">

        

        <% for(var i=0; i<imagesGridData.results.length; i++) {%>
        <img src="<%=imagesGridData.results[i].urls.small %>" alt="">
        
        
        <% } %>

    </div>

</main>

<%- include('../../partials/footer'); %>