<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <div>
        <img src="<%=imagesGridData[0].urls.small %>" alt="">
    </div>
</main>

<%- include('../../partials/footer'); %>