<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <h1>Inspiration for your next trip </h1>

    <form id="searchInspiration-form" method="GET" action="/imagesGrid">
        <label for="countryChoice">Search some inspiration</label>
        <input type="text" id="countryQuestionOne" name='searchinspiration'>

        <input type="submit" value="submit" />
    </form>

    <div class="imagesGrid">

        <% for(var i=0; i<imagesGridData.results.length; i++) {%>
        <img src="<%=imagesGridData.results[i].urls.small %>" alt="">

        <% } %>

    </div>

</main>

<%- include('../../partials/footer'); %>