/* main */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;

  h1 {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    font-size: 3vw;
    font-family: roboto;
    color: #0d0d0d;
    z-index: 1;
    text-align: center;
    margin-bottom: .5em;
  }
  
  p {
    font-size: 2em;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
}

/* background */
.home-bg {
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1{
    color: white;
  }

  p{
    color:white;
  }
}

.register-bg {
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1{
    color: white;
  }

  p{
    color:white;
  }
}

.login-bg {
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1{
    color: white;
  }

  p{
    color:white;
  }
}

.profilePicture {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* form */

form {
  max-width: 35em;
  margin: auto;
  padding: 2em;
  margin-bottom: 2em;

  display: grid;
  grid-gap: 1em;

  background-color: rgba(255, 255, 255);

  border-radius: 0.3em;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

legend {
  padding: 0 0 1.5rem 0;

  font-weight: bold;
  font-size: 2em;
  color: #0D0D0D;
}

label {
  font-family: roboto;
  font-weight: 400;
  color: #0D0D0D;
  display: block;
  padding: 0 0 .5rem 0;
}

input,
textarea {
  width: 94%;
  padding: 1em;
  margin: 0 0 1.5em;

  border: 0;
  border-bottom: 2px solid #3654a5;
  border-radius: .2em;
  background-color: #FCFCFC;

  outline: none;
}

input:focus {
  border-bottom: 2px solid #4CA536;
}

::placeholder {
  font-family: roboto;
  font-weight: 200;
  color: #C7C7C7;
}

/* buttons */

button {
  font-family: roboto;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1em;

  width: 35em;
  height: 2.5em;

  display: block;

  outline: none;
  border: none;

  border-radius: .2em;

  color: white;
  background-color: #3654a5;

  border-radius: 0.6em;
}

button:hover {
  background-color: #2A4795;
}

.buttonLogin1 {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: block;
  width: 35em;

  background-color: #252525;
}

.buttonLogin1:hover {
  background-color: #000000;
}

.buttonLogin2 {
  margin-left: auto;
  align-content: center;


  border-radius: 0.6em;
}

.buttonBucketlist {
  margin-left: auto;
  margin-right: auto;

  border-radius: 0.6em;

  margin-top: 2rem;
}

.buttonSignup {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  display: block;

  width: 15em;

  border-radius: 0.6em;
}

.imagesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(8, 5vw);
  grid-gap: 5px;
}

.imagesGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagesGrid p {
  // position: absolute;
  font-size: 1.5em;
  color: black;
  text-align: left;
  padding: 1em;
  background-color: white;
  
}

/* headers */
.headerNav {
  position: sticky;
  top: 0;
  z-index: 10;

  font-family: roboto;
  font-size: 1.2em;

  margin-bottom: 5rem;

  nav {
    background-color: rgba(10, 10, 10, .4);

  }

  ul{
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  li{
    display: flex;
    align-items: center;

  }

  li:first-child {
    width: 70%;
  }

}

.headerLogo {
  position: sticky;
  top: 0;
  z-index: 10;

  margin-bottom: 3rem;

  ul{
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  
}


.headerLogin {
  position: sticky;
  top: 0;
  z-index: 10;
  
  margin-bottom: 13rem;


  ul{
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  li{
    display: flex;
    align-items: center;

  }

  li:first-child {
    margin-right: auto;
  }


  .buttonLogin2{
    margin-left: auto;
    display: block;
    background-color: white;
    color: blue;
    width: 5.5em;
    height: 2.4em;
    border-radius: 0.6em;
    
  }

  a{
    color: #0d0d0d;
  }
}

.oneCountry {
  margin-bottom: 1.5rem;
}